.about-text{
    padding-left: 10%;
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-bottom: 40px;
}
.abt-heading{
    font-size: 50px;
    position: relative;
}
.abt-heading:before{
   content:" ";
  display: block;
  height: 3px;
  width: 120px;
  position: absolute;
  top: 140%;
  left: -18%;

  background:  linear-gradient(to right, rgb(237, 3, 69), rgb(203, 108, 86) 50%);
    background-size: 200%;
    transition: .5s ease-out;
}
.text-first{
    font-size: 16px;
    padding-top: 170px;
    letter-spacing: 2.5px;
    word-spacing: 2.5px;
    margin-left: -20px;
}
/* main-grid styles */
.main-grid{
    width: 75%;
    padding-left: 10%;
}
.img img{
   height: 360.175px;
   padding-left: 60px;
}
.about-video img{
   height: 360.175px;
}
.about-image, .about-video{
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 .text-video{
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-left: 36px;
    line-height: 24px;
}
.img-text{
     word-spacing: 5px;
    letter-spacing: 2px;
    padding-right: 8px;
    line-height: 24px;
}
.heading{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    color: #f25555;
}
@media only screen and (max-width: 600px){
    .about-text{
    padding-left: 14px;
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}


.abt-heading{
    font-size: 40px;
    position: relative;
}
.abt-heading:before{
   content:" ";
  display: block;
  height: 2px;
  width: 120px;
  position: absolute;
  top: 140%;
  left: 1%;

  background:  linear-gradient(to right, rgb(237, 3, 69), rgb(203, 108, 86) 50%);
    background-size: 200%;
    transition: .5s ease-out;
}
.text-first{
    padding-top: 40px;
    letter-spacing: 2px;
    word-spacing: .5px;
    line-height: 26px;
}
.main-grid{
    padding-left: 14px;
    width: 96%;
}
.about-image, .about-video{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
 .img img{
   height: 294px;
  padding-left: 3.5px;
}
.about-video img{
   width: 96%;
   padding-left: 3.5px;
}
.img-text, .text-video{
    word-spacing: 2.8px;
    letter-spacing: 1px;
    padding-left: 8px;
    line-height: 26px;
}
.heading{
    font-size: 14px;
}

}
